@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

img {
  display: block;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fed843 !important;
}

.swiper-scrollbar-drag {
  background: #fed843 !important;
}

.swiper {
  width: 100%;
}

.drawer {
  transition: 0.2s all ease-in-out;
  transform: translateX(100%);
}

.drawer-open {
  transform: translateX(0%);
}

@media screen and (max-width: 1024px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 25px !important;
  }
}
